<h1>About Us</h1>
	<p>
			<a href="http://railstutorial.org">Ruby on Rails Tutorial</a> is a project to make a book and screencasts to leach web development with <a href="http://rubyonrails.org/">Ruby on Rails</a>.  This is the sample application for this tutorial. Paul is really happy to be writing his first app's because it puts him in control of a part of the world that use to be obscure to him.
	</p>
	